/* 
* www.wholewheattoast.com
* 2012, Shawn Eisenach
*/
/* Table of Content
==================================================
	#SASSVariables
	#Reset & Basics
	#Basic Styles
	#Typography
	#Links
	#Lists
	#Images
	#Forms
	#SiteStyles
*/
/* #SASSVariables
==================================================*/
/* 16px / 16px = 1em */
/* #Reset & Basics
================================================== */
/* line 34, ../src/screen.scss */
article, aside, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* fix for HTML5 new elements in older browsers. */
/* line 36, ../src/screen.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* #Basic Styles
================================================== */
/* line 47, ../src/screen.scss */
body {
  font: normal 100% black Helvetica, Arial;
  line-height: 1em;
}

/* #Typography
================================================== */
/* line 55, ../src/screen.scss */
p {
  margin-bottom: 1em;
}

/* line 59, ../src/screen.scss */
figcaption {
  font-family: Georgia;
  font: normal 100% black Georgia, serif;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
}

/* line 67, ../src/screen.scss */
h1 {
  /* font-size: 1.5em; */
  line-height: 1.875em;
  font-weight: bold;
}

/* line 72, ../src/screen.scss */
h2 {
  /* font-size: 1em; */
  line-height: 1.25em;
  margin: 0 0 .3125em 0;
  font-weight: bold;
}

/* line 78, ../src/screen.scss */
h3 {
  /* font-size: .6875em; */
  margin: 0;
  font-weight: bold;
}

/* #Images
================================================== */
/* line 88, ../src/screen.scss */
img {
  border: none;
  max-width: 100%;
  height: auto;
  /* REMEMBER add width: 100%; to ie sheet */
}

/* #Links
================================================== */
/* line 98, ../src/screen.scss */
a {
  color: black;
  text-decoration: none;
  outline: 0;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -o-transition: color .25s;
  -ms-transition: color .25s;
  transition: color .25s;
}

/* line 109, ../src/screen.scss */
a:visited {
  color: black;
  text-decoration: none;
  outline: 0;
}

/* line 110, ../src/screen.scss */
a:hover, a:focus {
  color: green;
  text-decoration: none;
}

/* line 111, ../src/screen.scss */
p a, p a:visited {
  line-height: inherit;
}

/* #Lists
================================================== */
/* line 116, ../src/screen.scss */
ul, ol {
  margin-bottom: 1.25em;
}

/* 20px / 16px = 1.25em */
/* line 118, ../src/screen.scss */
ul {
  list-style: none;
}

/* line 120, ../src/screen.scss */
li {
  margin-bottom: .25em;
}

/* 4px / 16px = .25em */
/* line 122, ../src/screen.scss */
dt {
  float: left;
  margin-right: .5em;
  /* 8px / 16px = .5em */
  font-weight: bold;
}

/* #Forms
==================================================*/
/* line 130, ../src/screen.scss */
label, legend {
  display: block;
  font-weight: bold;
  font-size: 1.25em;
  margin: .5em 0 .5em 0;
}

/* line 137, ../src/screen.scss */
select {
  width: 13.75em;
}

/* 220px / 16px = 13.75em */
/* line 139, ../src/screen.scss */
.button {
  background: -webkit-gradient(linear, 0% 45%, 0% 55%, from(#e6e6e6), to(#cccccc));
  background: -moz-linear-gradient(0% 45% 270deg, #e6e6e6, #cccccc, #cccccc 55%);
  background-color: #ccc;
  border: 1px solid #b3b3b3;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  -o-border-radius: .5em;
  border-radius: .5em;
  display: block;
  letter-spacing: .0625em;
  margin: .5em 0 .5em 0;
  padding: .5em;
  /* 8px / 16px = .5em */
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

/* line 165, ../src/screen.scss */
.button:hover {
  cursor: pointer;
  text-decoration: none;
}

/* line 170, ../src/screen.scss */
.button:active {
  background: -webkit-gradient(linear, 0% 45%, 0% 55%, from(#cccccc), to(#e6e6e6));
  background: -moz-linear-gradient(0% 45% 90deg, #e6e6e6, #cccccc, #cccccc 55%);
}

/* #SiteStyles
================================================== */
/* line 180, ../src/screen.scss */
.pinkBackground {
  background-color: #f5f0f5;
}

/* line 181, ../src/screen.scss */
.displayInline {
  display: inline;
}

/* line 182, ../src/screen.scss */
.thickBottemBorder {
  border-bottom: black solid .25em;
}

/* 4px / 16px = .25em */
/* line 183, ../src/screen.scss */
.centerText {
  text-align: center;
}

/* line 185, ../src/screen.scss */
.portfolioContent {
  margin: 1em 0 0 0;
}

/* Masthead
================================================== */
/* line 191, ../src/screen.scss */
.masthead {
  margin: 0 auto 2em auto;
  padding: 0 0 1em 0;
}

/* #Footer
================================================== */
/* line 200, ../src/screen.scss */
.wwtFoorer {
  margin: 1em 0 3em 0;
}

/* legacy Site Styles */
/* line 205, ../src/screen.scss */
.Page {
  position: relative;
  width: 90%;
  margin: 2em auto;
  /* 32px / 16px = 2em */
}

/* line 211, ../src/screen.scss */
.indent {
  margin-left: 1.25em;
}

/* 20px / 16px = 1.25em */
/* line 213, ../src/screen.scss */
.inlineFoo {
  display: inline;
}

/* line 215, ../src/screen.scss */
.floatRight {
  float: right;
}

/* line 217, ../src/screen.scss */
.floatLeft {
  float: left;
}

/* TOC ITEMS
================================================== */
/* line 223, ../src/screen.scss */
.tocHeader {
  border-bottom: black solid;
  margin-bottom: 2em;
  /* 32px / 16px = 2em */
}

/* line 228, ../src/screen.scss */
.tocFooter {
  margin-top: .05em;
  /* 08px / 16px = .5em */
  padding-top: 2em;
  /* 32px / 16px = 2em */
  border-top: black solid;
}

/* #Sketchbook
================================================== */
/* Legacy Sketchbook styles */
/* line 240, ../src/screen.scss */
.sketchbookSection {
  width: 30%;
  /* ??? */
  display: inline-block;
  padding-bottom: 3em;
  /* 48px / 16px = 3em */
  margin-right: 3%;
  /* ??? */
}

/* line 247, ../src/screen.scss */
.sketchbookImage {
  max-width: 50%;
  /* ??? */
  float: left;
}

/* line 252, ../src/screen.scss */
.sketchbookMetadata {
  font-size: .75em;
  /* 12px / 16px = .75em */
  padding-left: 10%;
  /* ??? */
  float: left;
  max-width: 39%;
  /* ??? */
}

/* #Portfolio
================================================== */
/* line 261, ../src/screen.scss */
.portfolioCaption {
  margin: 1em 0 1em 0;
}

/* line 262, ../src/screen.scss */
.mobilePortfolioNav {
  margin: 0 0 2em 0;
}

/* Portfolio Legacy Styles */
/* line 266, ../src/screen.scss */
.portfolioItem {
  float: left;
  width: 25%;
  /* ??? */
}

/* line 271, ../src/screen.scss */
.portfolioItemLandscape {
  width: 50%;
}

/* ??? */
/* ---------------- Legacy css. Can I remove this yet? ----------------- */
/*-------------Cart----------*/
/* line 279, ../src/screen.scss */
.addToCart {
  font-family: Helvetica, Ariel, sans-serif;
  line-height: 1.35em;
  padding: 5px;
  /* 5px / 16px = .3125em */
  background-color: white;
  border: 1px solid;
  /* 1px / 16[x = .0625em */
  border-color: gray;
  font-size: 1em;
  /* 1px / 16[x = .0625em */
  margin-top: 1em;
  /* 1px / 16[x = .0625em */
  margin-left: 5px;
  /* 5px / 16px = .3125em */
  cursor: pointer;
}

/* line 293, ../src/screen.scss */
.viewCart {
  font-family: Helvetica, Ariel, sans-serif;
  line-height: 1.35em;
  font-size: 1em;
  color: #666666;
  background-color: transparent;
  border: 0;
  margin: 1em 0 0 0;
  padding: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}
