<header class="row">
			
				<!-- Put Header stuff here -->
				<ul>
					<li class="inlineFoo"><a href="http://www.wholewheattoast.com">Home</a></li>
					<li class="inlineFoo"><a href="http://www.wholewheattoast.com/portfolio.html">Work</a></li>
					<li class="inlineFoo"><a href="http://www.wholewheattoast.com/sketchbooks/">Sketchbooks</a></li>
					<li class="inlineFoo"><a href="http://www.wholewheattoast.com/publications.html">Publications</a></li>
					<li class="inlineFoo"><a href="http://www.wholewheatnotes.com">Blog</a></li>
					<li class="inlineFoo"><a href="http://www.wholewheattoast.com/about.html">About</a></li>
					
				</ul>
			
			</header>