<!DOCTYPE html>
<html version="HTML+RDFa 1.1" lang="en"
xmlns="http://www.w3.org/1999/xhtml"
xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
xmlns:xsd="http://www.w3.org/2001/XMLSchema#"
xmlns:cc="http://creativecommons.org/ns#"
xmlns:dc="http://purl.org/dc/elements/1.1/"
xmlns:foaf="http://xmlns.com/foaf/0.1/">

	
	<head>
		<meta charset="UTF-8" />
		<title property="dc:title">Title Pages 00 00</title>
		<meta name="description" content="Pages 00 00 from the ??? sketchbook" />
		<meta name="author" property="dc:creator" content="shawn eisenach" />
		<meta name="author" property="dc:creator" content="wholewheattoast" />
		<link rel="prev" href="http://www.wholewheattoast.com/sketchbooks/??/pp??_??.html" />
   		<link rel="next" href="http://www.wholewheattoast.com/sketchbooks/??/pp??_??.html" />
		
		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		
		<!-- Mobile Specific Metas
		================================================== -->
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<!-- CSS
		================================================== -->
		<link rel="stylesheet" href="http://www.wholewheattoast.com/stylesheets/screen.css" />
		<link rel="stylesheet" href="http://www.wholewheattoast.com/Skeleton/stylesheets/skeleton.css" />
		
		<!-- Favicons
		================================================== -->
		<link rel="shortcut icon" href="http://www.wholewheattoast.com/image/favicon.ico" />

	</head>
	
	<body>
	
		<div class="container">
			<article class="sketchbookArticle">
				
				<header class="inlineFoo beta sixteen columns">
					<h1><a href="http://www.wholewheattoast.com" title="home">wholewheattoast</a> |</h1> 
					<h2><a href="http://www.wholewheattoast.com/sketchbooks.html">sketchbooks</a> |</h2> 
					<h3><a href="http://www.wholewheattoast.com/sketchbooks/foodPoisson/">???</a> | </h3> 
					<h4>pp ?? ??</h4>
				</header>
				
				<div class="sixteen columns">
					<p>
						<a href="http://www.flickr.com/photos/wholewheattoast/6034066887/" title="Food Poisson pp 50 51">
							<img src="http://farm7.static.flickr.com/6204/6034066887_4a1ede9cc6_b.jpg" alt="Food Poisson pp 50 51" />
						</a>
					</p>
						
				</div>
					
				<div class="sixteen columns">
					<!-- Additional details here -->					
				</div>
					
				<span class="clear"></span>

			</article>
				
			<nav class="sixteen columns">
				<ul class="sketchbookNav">
					<li class="inlineFoo">
						<a href="http://www.wholewheattoast.com/sketchbooks/???/pp??_??.html" rel="next">Prev </a>
					</li>
					<li class="inlineFoo">
						&nbsp;|&nbsp;<a href="http://www.wholewheattoast.com/sketchbooks/???/pp??_??.html" rel="next"> Next</a>
					</li>
				</ul>
				<span class="clear"></span>
			</nav>
		</div>
	
	</body>

</html>