/* 
* Skeleton V1.0.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 5/20/2011
*/


/* Table of Contents
==================================================
	#Base 960 Grid    
	#Tablet (Portrait)
	#Mobile (Portrait) 
	#Mobile (Landscape)
	#Clearing */
	
	

/* #Base 960 Grid 
================================================== */

	/* .container { position: relative; width: 100%; margin: 0 auto; padding: 0; } */
	.column, .columns { float: left; display: inline; margin-left: 1.041667%; margin-right: 1.041667%; }
	.row { margin-bottom: 20px; }
	
	/* Nested Column Classes */
	.column.alpha, .columns.alpha 				{ margin-left: 0; }
	.column.omega, .columns.omega 				{ margin-right: 0; }
	
	/* Base Grid */
	.container .one.column 						{ width: 4.166667%;  }	/* px / 960 px = . */
	.container .two.columns 					{ width: 10.416667%; }
	.container .three.columns 					{ width: 16.666667%; }
	.container .four.columns 					{ width: 22.916667%; } /* 220px / 960px = 22.916667% */
	.container .five.columns 					{ width: 29.166667%; }
	.container .six.columns 					{ width: 35.416667%; }
	.container .seven.columns 					{ width: 41.666667%; }	
	.container .eight.columns 					{ width: 47.916667%; }
	.container .nine.columns 					{ width: 54.166667%; }
	.container .ten.columns 					{ width: 60.416667%; }	
	.container .eleven.columns 					{ width: 66.666667%; }	
	.container .twelve.columns 					{ width: 72.916667%; }
	.container .thirteen.columns 				{ width: 79.166667%; }	
	.container .fourteen.columns 				{ width: 85.416667%; }	
	.container .fifteen.columns 				{ width: 91.666667%; }
	.container .sixteen.columns 				{ width: 97.916667%; }
	
	.container .one-third.column				{ width: 31.25%; }
	.container .two-thirds.column				{ width: 64.583333%; }
	
	/* Offsets */	
	.container .offset-by-one 					{ padding-left: 6.25%; }
	.container .offset-by-two 					{ padding-left: 12.5%; }
	.container .offset-by-three 				{ padding-left: 18.75%; }
	.container .offset-by-four 					{ padding-left: 25%;}
	.container .offset-by-five 					{ padding-left: 31.25%; }
	.container .offset-by-six 					{ padding-left: 37.5%; }
	.container .offset-by-seven 				{ padding-left: 43.75%; }
	.container .offset-by-eight 				{ padding-left: 50%; }
	.container .offset-by-nine 					{ padding-left: 56.25%; }
	.container .offset-by-ten 					{ padding-left: 62.5%; }
	.container .offset-by-eleven 				{ padding-left: 68.75%; }
	.container .offset-by-twelve 				{ padding-left: 75%; }
	.container .offset-by-thirteen 				{ padding-left: 81.25%; }
	.container .offset-by-fourteen 				{ padding-left: 87.5%; }
	.container .offset-by-fifteen 				{ padding-left: 93.75%; }
	
	
	
/* #Tablet (Portrait)
================================================== */	

	/* Note: Design for a width of 768px */

	@media only screen and (min-width: 768px) and (max-width: 959px) {
		.container { width: 100%; }
		.container .column, 
		.container .columns { margin-left: 1.041667%; margin-right: 1.041667%;  }
		.column.alpha, .columns.alpha 				{ margin-left: 0; margin-right: 1.041667%; }
		.column.omega, .columns.omega 				{ margin-right: 0; margin-left: 1.041667%; }
	
		.container .one.column 						{ width: 03.645833%; }	/* 28px / 768 px = .03645833 */
		.container .two.columns 					{ width: 09.895833%; }	/* 76px / 768 px = .09895833 */
		.container .three.columns 					{ width: 16.145833%; }	/* 124px / 768 px = .16145833 */
		.container .four.columns 					{ width: 22.395833%; }	/* 172px / 768 px = .22395833 */
		.container .five.columns 					{ width: 28.645833%; }	/* 220px / 768 px = .28645833 */
		.container .six.columns 					{ width: 34.895833%; }	/* 268px / 768 px = .34895833 */
		.container .seven.columns 					{ width: 41.145833%; }	/* 316px / 768 px = .41145833 */
		.container .eight.columns 					{ width: 47.395833%; }	/* 364px / 768 px = .47395833 */
		.container .nine.columns 					{ width: 53.645833%; }	/* 412px / 768 px = .53645833 */
		.container .ten.columns 					{ width: 59.895833%; }	/* 460px / 768 px = .59895833 */
		.container .eleven.columns 					{ width: 66.145833%; }	/* 508px / 768 px = .66145833 */
		.container .twelve.columns 					{ width: 72.395833%; }	/* 556px / 768 px = .72395833 */
		.container .thirteen.columns 				{ width: 78.645833%; }	/* 604px / 768 px = .78645833 */
		.container .fourteen.columns 				{ width: 84.895833%; }	/* 652px / 768 px = .84895833 */
		.container .fifteen.columns 				{ width: 91.145833%; }	/* 700px / 768 px = .91145833 */
		.container .sixteen.columns 				{ width: 97.395833%; }	/* 748px / 768 px = .97395833 */
		
		.container .one-third.column				{ width: 30.729167%; }	/* 236px / 768 px = .30729167 */
		.container .two-thirds.column				{ width: 64.0625%; }	/* 492px / 768 px = .640625 */
		
		/* Offsets */	
		.container .offset-by-one 					{ padding-left: 06.25%; }	/* px / 768 px = .0625 */
		.container .offset-by-two 					{ padding-left: 12.5%; }	/* px / 768 px = .125 */
		.container .offset-by-three 				{ padding-left: 18.75%; }	/* 144px / 768 px = .1875 */
		.container .offset-by-four 					{ padding-left: 25%; }		/* 192px / 768 px = .25 */
		.container .offset-by-five 					{ padding-left: 37.5%; }	/* 288px / 768 px = .375 */
		.container .offset-by-six 					{ padding-left: 43.75%; }	/* 336px / 768 px = .4375 */
		.container .offset-by-seven 				{ padding-left: 45.3125%; }	/* 348px / 768 px = .453125 */
		.container .offset-by-eight 				{ padding-left: 56.25%; }	/* 432px / 768 px = .5625 */
		.container .offset-by-nine 					{ padding-left: 62.5%; }	/* 480px / 768 px = .625 */
		.container .offset-by-ten 					{ padding-left: 68.75%; }	/* 528px / 768 px = .6875 */
		.container .offset-by-eleven 				{ padding-left: 75%; }	/* 576px / 768 px = .75 */
		.container .offset-by-twelve 				{ padding-left: 81.25%; }	/* 624px / 768 px = .8125 */
		.container .offset-by-thirteen 				{ padding-left: 87.5%; }	/* 672px / 768 px = .875 */
		.container .offset-by-fourteen 				{ padding-left: 93.75%; }	/* 720px / 768 px = .9375 */
		.container .offset-by-fifteen 				{ padding-left: 117.1875%; }	/* 900px / 768 px = 1.171875 */
	}
	
	
/*	#Mobile (Portrait) 
================================================== */
	
	/* Note: Design for a width of 320px */
	
	@media only screen and (max-width: 767px) {
		.container { width: 100%; }
		.columns, .column { margin: 0; }
		
		.container .one.column,
		.container .two.columns,
		.container .three.columns,
		.container .four.columns,
		.container .five.columns,
		.container .six.columns,
		.container .seven.columns,
		.container .eight.columns,
		.container .nine.columns,
		.container .ten.columns,
		.container .eleven.columns,
		.container .twelve.columns,
		.container .thirteen.columns,
		.container .fourteen.columns,
		.container .fifteen.columns,
		.container .sixteen.columns, 
		.container .one-third.column, 
		.container .two-thirds.column  { width: 100%; }
		
		/* Offsets */	
		.container .offset-by-one,				
		.container .offset-by-two, 					
		.container .offset-by-three, 				
		.container .offset-by-four, 					
		.container .offset-by-five, 					
		.container .offset-by-six, 					
		.container .offset-by-seven, 				
		.container .offset-by-eight, 				
		.container .offset-by-nine, 					
		.container .offset-by-ten, 					
		.container .offset-by-eleven, 				
		.container .offset-by-twelve, 				
		.container .offset-by-thirteen, 			
		.container .offset-by-fourteen, 			
		.container .offset-by-fifteen { padding-left: 0; } 			
				
	}	 
	
	.tocHeader {
		margin-top: 2em;
	}
	
/* #Mobile (Landscape)
================================================== */

	/* Note: Design for a width of 480px */
	
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.container { width: 420px; }
		.columns, .column { margin: 0; }
		
		.container .one.column,
		.container .two.columns,
		.container .three.columns,
		.container .four.columns,
		.container .five.columns,
		.container .six.columns,
		.container .seven.columns,
		.container .eight.columns,
		.container .nine.columns,
		.container .ten.columns,
		.container .eleven.columns,
		.container .twelve.columns,
		.container .thirteen.columns,
		.container .fourteen.columns,
		.container .fifteen.columns,
		.container .sixteen.columns,
		.container .one-third.column, 
		.container .two-thirds.column { width: 420px; }
	}
	
	
/* #Clearing
================================================== */

	/* Self Clearing Goodness */
	.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; } 
	
	/* Use clearfix class on parent to clear nested columns, 
	or wrap each row of columns in a <div class="row"> */
	.clearfix:before,
	.clearfix:after,
	.row:before,
	.row:after {
	  content: '\0020';
	  display: block;
	  overflow: hidden;
	  visibility: hidden;
	  width: 0;
	  height: 0; }
	.row:after,
	.clearfix:after {
	  clear: both; }
	.row, 
	.clearfix {
	  zoom: 1; }
	  
	/* You can also use a <br class="clear" /> to clear columns */
	.clear {
	  clear: both;
	  display: block;
	  overflow: hidden;
	  visibility: hidden;
	  width: 0;
	  height: 0;
	}
	
	
	